<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'inc/header.html.twig' %}
    <title>SQLView - Error</title>
</head>

<body>

{% include 'inc/nav.html.twig' %}

<div id="wrapper">

    <div class="container">
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>No Connection</strong> You do not have access any databases, please contact administration
        </div>
    </div><!-- /.container -->

</div>
<!-- /#wrapper -->

{% include 'inc/footer.html.twig' %}
</body>

</html>


