<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'inc/header.html.twig' %}
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 50px;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>

    <title>SQLView - Dashboard</title>
</head>

<body>

{% include 'inc/nav.html.twig' with {'page': 'query'} %}

<div id="wrapper">

    <div class="container">

        <div class="row">
            <div class="col-lg-2">
                <div id="tree">

                </div>
            </div>
            <div class="col-lg-10">
                <div class="row" id="mode_row">


                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#sql" aria-controls="sql" role="tab"
                                                                  data-toggle="tab" id="sql_mode_button">SQL Mode</a></li>
                        <li role="presentation"><a href="#gui" aria-controls="gui" role="tab" data-toggle="tab">GUI
                                Mode</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content" style="height: 400px;">
                        <div role="tabpanel" class="tab-pane active" id="sql">
                            <pre id="editor" style="height: 300px;"></pre>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="gui">

                            <div class="well" style="margin-top: 8px;" id="mode-well">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="tables" class="col-sm-2 control-label">Tables</label>

                                        <div class="col-sm-10">
                                            <select class="select2 form-control" multiple="multiple" name="tables"
                                                    id="tables" style="width: 100%">
                                                {% for table in tables %}
                                                    <option value="{{ table.table_name }}">{{ table.table_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="fields" class="col-sm-2 control-label">Fields</label>

                                        <div class="col-sm-10">
                                            <select class="select2 form-control" multiple="multiple" name="fields"
                                                    id="fields" style="width: 100%">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">Criterias</label>

                                        <div class="col-sm-10">
                                            <div id="builder-basic"></div>
                                        </div>
                                    </div>


                                </form>


                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <div>
                    <button type="button" class="btn btn-primary" style="margin-left:-14px;" id="run_query">Run
                    </button>

                    <div class="row" style="margin-top:10px;">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {% for query in queries %}
                                    {{ query.que_string }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>

</div>
<!-- /#wrapper -->

{% include 'inc/footer.html.twig' %}


<script>
    $('#tree').treeview({data: JSON.parse('{{ tree|raw }}')}).on('nodeSelected', function (event, data) {
        editor.insert(data.column_name)
    });

    $('#run_query').click(function () {

        var formData = {query: editor.getValue()};

        $.ajax({
            url: "/query/run/ajax",
            type: "POST",
            data: formData,
            success: function (data, textStatus, jqXHR) {
//                var data = $.parseJSON(json);

            }
        });


    });


</script>

<script>
    ace.require("ace/ext/language_tools");
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/sql");
    // enable autocompletion and snippets
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: false
    });
    editor.setFontSize(14);
    editor.$blockScrolling = Infinity;
</script>

<script type="text/javascript">
    $("#tables").select2().on('change', function (evt, data) {
        console.log($(this).val());
    });

    $(document).ready(function () {
        $('[data-add=rule]').click(function () {
            $('#mode_row').height($('#gui').height() + 100);
            console.log($('#gui').height());
            console.log($('#mode_row').height());

        });

        $('#sql_mode_button').click(function () {
            $('#mode_row').height(400);
        });

    });



    $('#builder-basic').queryBuilder({
        plugins: ['bt-tooltip-errors'],

        filters: [{
            id: 'name',
            label: 'Name',
            type: 'string'
        }, {
            id: 'category',
            label: 'Category',
            type: 'integer',
            input: 'select',
            values: {
                1: 'Books',
                2: 'Movies',
                3: 'Music',
                4: 'Tools',
                5: 'Goodies',
                6: 'Clothes'
            },
            operators: ['equal', 'not_equal', 'in', 'not_in', 'is_null', 'is_not_null']
        }, {
            id: 'in_stock',
            label: 'In stock',
            type: 'integer',
            input: 'radio',
            values: {
                1: 'Yes',
                0: 'No'
            },
            operators: ['equal']
        }, {
            id: 'price',
            label: 'Price',
            type: 'double',
            validation: {
                min: 0,
                step: 0.01
            }
        }, {
            id: 'id',
            label: 'Identifier',
            type: 'string',
            placeholder: '____-____-____',
            operators: ['equal', 'not_equal'],
            validation: {
                format: /^.{4}-.{4}-.{4}$/
            }
        }]
    });

</script>

</body>

</html>
