<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'inc/header.html.twig' %}
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 50px;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>

    <title>SQLView - Query</title>
</head>

<body>

{% include 'inc/nav.html.twig' with {'page': 'query'} %}

<div id="wrapper">

    <div class="container">

        <div class="row">
            <div class="col-lg-2">
                <div id="tree">

                </div>
            </div>
            <div class="col-lg-10">
                <div class="row">

                    <div class="col-lg-12" style="padding: 0px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            {% if permission == "full" %}
                                <li role="presentation" class="active"><a href="#sql" aria-controls="sql" role="tab"
                                                                          data-toggle="tab" id="sql_mode_button">SQL
                                        Mode</a>
                                </li>
                            {% endif %}
                            <li role="presentation" {% if permission != "full" %} class="active" {% endif %}><a
                                        href="#gui" aria-controls="gui" role="tab" data-toggle="tab">GUI
                                    Mode</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content" style="height: 430px;">
                            {% if permission == "full" %}
                                <div role="tabpanel" class="tab-pane active" id="sql">
                                    <pre id="editor" style="height: 400px;">{{ sql }}</pre>
                                </div>
                            {% endif %}
                            <div role="tabpanel" class="tab-pane {% if permission != "full" %} active {% endif %}"
                                 id="gui">
                                <div class="well" style="margin: 0;height: 400px;overflow-y: auto;width: 100%;">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="tables" class="col-sm-2 control-label">Tables</label>

                                            <div class="col-sm-10">
                                                <select class="select2 form-control" multiple="multiple" name="tables"
                                                        id="tables" style="width: 100%">
                                                    {% for table in tables %}
                                                        <option value="{{ table.table_name }}">{{ table.table_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="fields" class="col-sm-2 control-label">Fields</label>

                                            <div class="col-sm-10">
                                                <select class="select2 form-control" multiple="multiple" name="fields"
                                                        id="fields" style="width: 100%">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">Criterias</label>

                                            <div class="col-sm-10">
                                                <div id="builder-basic"></div>
                                            </div>
                                        </div>


                                    </form>


                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12" style="padding: 0px;">
                        <div class="alert alert-danger" id="error_holder" style="display: none;">
                            <span id="error_message"></span>
                        </div>

                        <div style="background-color:white; padding: 10px; height: 54px;line-height: 34px;">

                            <span id="timer">Ready</span>

                            <div class="pull-right">
                                <input type="checkbox" id="cache_status" checked data-toggle="toggle" data-on="Cache On"
                                       data-off="Cache Off"
                                       data-onstyle="success">
                                <button type="button" class="btn btn-primary" id="run_query">
                                    Run Query
                                </button>

                                <button type="button" class="btn btn-primary" id="favorite" style="display: none;">
                                    Add Favorites
                                </button>

                            </div>


                        </div>

                        <hr/>

                        <div style="background-color:white; padding: 10px; height: 54px;line-height: 34px;display: none;"
                             id="download-panel">

                            <div class="input-group">

                                <input type="text" class="form-control code_area" id="download_url">

                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle code_are"
                                            data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><span
                                                id="download_type">CSV</span> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" id="download_csv">CSV</a></li>
                                        <li><a href="#" id="download_tsv">TSV</a></li>
                                        <li><a href="#" id="download_json">JSON</a></li>
                                    </ul>
                                    <a href="#" target="_blank" class="btn btn-default" id="download">Download</a>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </div>
                    </div>
                    <div class="col-lg-12" style="padding: 40px 0 0 0; display: none;" id="result-panel">
                        <div class="panel panel-default">
                            <div class="panel-heading">Results</div>
                            <div class="panel-body">
                                <div id="table_holder" class="table-responsive">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

</div>
<!-- /#wrapper -->

{% include 'inc/footer.html.twig' %}


<script>

    var query_hash = "";
    var domain = "http://sql-view.app/";
    $('#tree').treeview({data: JSON.parse('{{ tree|raw }}')}).on('nodeSelected', function (event, data) {
        editor.insert(data.column_name)
    });

    $('#run_query').click(function () {


        $("#error_holder").hide();
        $("#result-panel").hide();

        $("#timer").html("");

        var timer = new Timer();
        timer.start({
            precision: 'secondTenths', callback: function (values) {
                $('#timer').html(values.toString(['seconds', 'secondTenths']));
            }
        });
        timer.addEventListener('secondsUpdated', function () {
            $('#timer').html(timer.getTimeValues().toString(['seconds', 'secondTenths']));
        });

        var $btn = $(this);
        $btn.button('loading');

        if ($("#gui").hasClass("active")) {
            var formData = {
                tables: $("#tables").val(),
                fields: $("#fields").val(),
                builder: $('#builder-basic').queryBuilder('getSQL', false),
                cache: $("#cache_status").prop('checked')
            };
            var url = "/query/run/gui";
        } else {
            var formData = {query: editor.getValue(), cache: $("#cache_status").prop('checked')};
            var url = "/query/run";
        }


        $.ajax({
            url: url,
            type: "POST",
            data: formData,
            success: function (data, textStatus, jqXHR) {
                var seconds = timer.getTimeValues().seconds;
                var secondTenths = timer.getTimeValues().secondTenths;
                timer.stop();
                $btn.button('reset');

                if (data.status) {

                    var timer_html = "";

                    if (data.results_from_cache) {
                        timer_html += '<i class="fa fa-floppy-o" aria-hidden="true"></i> ' + data.timestamp + ' | '
                    }

                    timer_html += seconds + "." + secondTenths + "s elapsed, " + data.rows.length + " rows are returned";

                    $("#favorite").show();
                    $("#favorite").data("hash", data.query_hash)

                    $('#timer').html(timer_html);

                    if (data.columns.length > 0) {

                        $("#result-panel").show();
                        $("#download-panel").show();

                        query_hash = data.query_hash;

                        $("#download_url").val(domain + "query/" + query_hash + ".csv");
                        $("#download").attr('href', domain + "query/" + query_hash + ".csv?d=1");

                        var thead_str = data.columns.join("</th><th>");
                        var tfoot_str = data.columns.join("</td><td>");
                        $("#table_holder").html('<table class="table table-project" id="report-general-table" style="width: 100%"><thead><tr><th>' + thead_str + '</th></tr></thead><tbody></tbody></table>');

                        var reportTable = $('#report-general-table').DataTable({
                            dom: "<'row'><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'p>>",
                            pageLength: 200
                        });

                        reportTable.rows.add(data.rows).draw();

                    }


                } else {
                    $('#timer').html("Query has failed. (" + seconds + "." + secondTenths + "s elapsed)");

                    $("#error_holder").show();
                    $("#error_message").html(data.error);
                }
            }
        });


    });

    $("#download_csv").click(function () {
        $("#download_url").val(domain + "query/" + query_hash + ".csv");
        $("#download_type").html("CSV");
        $("#download").attr('href', domain + "query/" + query_hash + ".csv?d=1");
    });

    $("#download_tsv").click(function () {
        $("#download_url").val(domain + "query/" + query_hash + ".tsv");
        $("#download").attr('href', domain + "query/" + query_hash + ".tsv?d=1");
        $("#download_type").html("TSV");
    });

    $("#download_json").click(function () {
        $("#download_url").val(domain + "query/" + query_hash + ".json");
        $("#download").attr('href', domain + "query/" + query_hash + ".json?d=1");
        $("#download_type").html("JSON");
    });

    $(".code_area").focus(function () {
        var $this = $(this);
        $this.select();

        // Work around Chrome's little problem
        $this.mouseup(function () {
            // Prevent further mouseup intervention
            $this.unbind("mouseup");
            return false;
        });
    });

    $("#favorite").click(function () {
        var hash = $("#favorite").data('hash');

        $.ajax({
            url: "/favorites/add",
            type: "POST",
            data: {query_hash: hash},
            success: function (data, textStatus, jqXHR) {
                swal("Added", "Your query was added to your favorites", "success");
            }
        });
    });

</script>

<script>
    ace.require("ace/ext/language_tools");
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/sql");
    // enable autocompletion and snippets
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: false
    });
    editor.setFontSize(14);
    editor.$blockScrolling = Infinity;
</script>

<script type="text/javascript">

    var fields = [];
    function refreshSelect($input, data) {
        $input.html($(''));
        for (var key in data) {
            var $option = $('<option />')
                    .prop('value', data[key]['id'])
                    .text(data[key]['text'])
                ;
            $input.append($option)
        }
        $input.trigger('change');
    }

    $("#tables").select2().on('change', function () {
        $.ajax({
            url: "/query/get_fields",
            type: "POST",
            data: {tables: $(this).val()},
            success: function (data, textStatus, jqXHR) {
                var $input = $('#fields');
                refreshSelect($input, data.data)

                if (data.filter.length > 0) {
                    $('#builder-basic').queryBuilder('destroy');
                    $('#builder-basic').queryBuilder({
                        filters: data.filter
                    });
                }
            }
        });
    })

    $("#fields").select2();

</script>

</body>

</html>
