<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'inc/header.html.twig' %}
    <title>SQLView - Dashboard</title>
</head>

<body>

{% include 'inc/nav.html.twig' with {'page': 'setting'} %}

<div id="wrapper">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Connections
                        <div class="pull-right">
                            <a href="/setting" type="button" class="btn btn-xs btn-primary"
                               aria-label="Left Align">
                                <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                                Connections
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form class="form-horizontal" method="post" id="connection_form">
                                    <div class="form-group">
                                        <label for="cnn_name" class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="cnn_name" name="cnn_name"
                                                   placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cnn_type" class="col-sm-2 control-label">Type</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="cnn_type" name="cnn_type">
                                                <option value="mysql">MySQL</option>
                                                <option value="postgresql">PostgreSQL</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cnn_host" class="col-sm-2 control-label">Host</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="cnn_host" name="cnn_host"
                                                   placeholder="127.0.0.1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cnn_port" class="col-sm-2 control-label">Port</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="cnn_port" name="cnn_port"
                                                   placeholder="3306">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cnn_username" class="col-sm-2 control-label">Username</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="cnn_username"
                                                   name="cnn_username"
                                                   placeholder="root">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cnn_password" class="col-sm-2 control-label">Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="cnn_password"
                                                   name="cnn_password"
                                                   placeholder="secret">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cnn_database" class="col-sm-2 control-label">Database</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="cnn_database"
                                                   name="cnn_database"
                                                   placeholder="database">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-default">Save</button>
                                            <a class="btn btn-default" id="check_button">Check
                                                Connection
                                            </a>

                                        </div>
                                    </div>

                                    <div class="alert alert-success" style="display: none;"
                                         id="check_status_success">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-hidden="true">&times;</button>
                                        <strong>Connection Established</strong>
                                    </div>

                                    <div class="alert alert-danger" style="display: none;"
                                         id="check_status_error">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-hidden="true">&times;</button>
                                        <strong>Connection Error</strong>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>

    </div><!-- /.container -->

</div>
<!-- /#wrapper -->

{% include 'inc/footer.html.twig' %}


<script>

    $('#check_button').click(function (e) {
        $('#check_status_success').hide();
        $('#check_status_success').hide();
        e.preventDefault();
        var formData = $('#connection_form').serialize();
        $.ajax({
            url: "/setting/connection/check/ajax",
            type: "POST",
            data: formData,
            success: function (data, textStatus, jqXHR) {
                data = $.parseJSON(data);
                if (data.success) {
                    $('#check_status_success').show();
                } else {
                    $('#check_status_error').show();
                }
            }, error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    });
</script>


</body>

</html>
