{% if messages['success'] is defined %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul>
            {% for message in messages['success'] %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if messages['info'] is defined %}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul>
            {% for message in messages['info'] %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if messages['warning'] is defined %}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul>
            {% for message in messages['warning'] %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if messages['danger'] is defined %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul>
            {% for message in messages['danger'] %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}