<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SQLView</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page == "dashboard" %}class="active"{% endif %}><a href="/dashboard">Dashboard</a></li>
                <li {% if page == "favorite" %}class="active"{% endif %}><a href="/favorite">Favorites</a></li>
                {% if user.usr_type != "admin" %}
                    <li {% if page == "query" %}class="active"{% endif %}><a href="/query">Query</a></li>
                {% endif %}

                <li {% if page == "setting" %}class="active"{% endif %}><a href="/setting">Settings</a></li>
                {% if user.usr_type == "admin" %}
                    <li {% if page == "users" %}class="active"{% endif %}><a href="/users">Users</a></li>
                {% endif %}

            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> {{ user.usr_email }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/setting"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>


                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-plug fa-fw"></i> {{ active_connection.cnn_name }} {% if all_connections %}<i
                                class="fa fa-caret-down">{% endif %}</i>
                    </a>
                    {% if all_connections %}
                        <ul class="dropdown-menu dropdown-user">
                            {% for connection in all_connections %}
                                <li>
                                    <a href="/setting/connection/change/{{ connection.cnn_id }}">{{ connection.cnn_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>